%h1.fs-2 ログイン
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.input :name, autofocus: true
  = f.input :password
  = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  = f.button :submit, 'ログイン', class: 'btn btn-primary'

.mt-5= link_to '新規登録', new_user_registration_path
