.card.mt-4
  .card-body.p-5
    .fs-4= link_to post.content, post_path(post), class: 'text-body text-decoration-none'
    .d-flex.flex-row-reverse.gap-3
      .fs-6.d-flex.gap-1
        = render 'shared/like_button', post: post
        = link_to post.likes_count, post_likes_path(post)
      .fs-6= l(post.created_at)
      .fs-6= link_to post.user.name, user_path(post.user)
