.card.mt-4
  .card-body.p-5
    .fs-4= @post.content
    .d-flex.flex-row-reverse.gap-3
      .fs-6.d-flex.gap-1
        = render 'shared/like_button', post: @post
        = @post.likes_count
      .fs-6= l(@post.created_at)
      .fs-6= link_to @post.user.name, user_path(@post.user)

- if user_signed_in? && current_user.id == @post.user_id
  .mt-5.d-flex.gap-3
    = link_to '編集', edit_post_path(@post), class: 'btn btn-outline-primary'
    = button_to '削除', post_path(@post), method: :delete, data: { turbo: false, confirm: t('views.common.confirm.destroy') }, class: 'btn btn-outline-danger'

= render 'comments/form', post: @post, comment: @comment if user_signed_in?
= render 'comments/index', comments: @comments
